@media (max-width:1200px) {
  .container{
    max-width: 1200px;
    width: 100%;
  }
  .footer-wrapper{
    flex-wrap: wrap;
  }
  /* .skills-container{
    flex-wrap: wrap;
  }
  .skills-container-left{
    width: 100%;
  }
  .skills-container-right{
    width: 100%;
  } */
}





@media (max-width:800px){
    .skills-container{
        flex-wrap: wrap;
    }
    .skill-container-left{
        width: 100%;
    }
    .skill-container-right{
        width: 100%;
    }
    .skill-subHeading{
        width: 100%;
    }
    .skill-fade-text{
        font-size: 11.5rem;
        bottom: -18vh;
    }
    .user-img{
        padding: 1.8rem;
    }
    #project1{
        background-image: url("./images/projects/1m.png");
        background-size: cover;
    }
    
}


@media (max-width:550px) {
    .hero-section{
        flex-wrap: wrap;
    }
    .faded-text{
        bottom: -13%;
    }
    .logo-container{
        display: none;
    }
    .navbar{
        justify-content: center;
        background-color: rgb(231, 231, 231);
        height: 9vh;
    }
    .blob-style{
        width: 70vw;
    }

}